body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.Navbar {
    position: fixed; 
    width: 15vw;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background-color: #16348C;
    color: #ffffff;
    z-index: 1000;
}

.NavImg img {
    display: block;
    margin: 0 auto;
    width: 11vw;
    height: auto;
    margin-bottom: 20px;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.Tab {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1vh;
}

.sidebar-item {
    display: flex;
    align-items: center;
}

.Tab:hover{
    background-color: #0056b3;
    transition: all .5s ease;
}

.sidebar-item img {
    height: 4vh;
    margin-right: 1vw;
}

.main-content {
    margin-left: 15vw;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to bottom right, #FFFAF1, #F7ECCB);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
    position: relative;

}

.container {
    width: calc(100% - 40px);
    max-width: 98%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.main-content h2 {
    margin-bottom: 20px;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.add-button {
    background-color: #16348C;
    color: white;
    border: 1px solid #16348C;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #fff;
    border: 1px solid #16348C;
    color: #000;
    transition: all 0.5 ease;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #16348C;
    color: white;
}

.action-button {
    background-color: #16348C;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    background-color: #16348C;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}
/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1vw;
    border: 1px solid #888;
    width: 20vw; /* Could be more or less, depending on screen size */
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
}

button {
    background-color: #16348C;
    color: white;
    border: 1px solid #16348C;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 1vh;
    width: 5vw;
    height: 5vh;
    border-radius: 10px;
}

button:hover {
    background-color: #fff;
    border: 1px solid #16348C;
    color: #000;
    transition: all 0.5 ease;
}

/* Form styling */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row label {
    flex-basis: 30%;
    font-weight: bold;
}

.form-row input, .form-row select, .form-row textarea {
    flex-basis: 65%;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-button, .save-button {
    padding: 8px 16px;
    cursor: pointer;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}
.dropdown-content a:last-child {
    border-bottom: none;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown button {
    background-color: #16348C;
    color: white;
    border: 1px solid #16348C;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown button:hover {
    background-color: #fff;
    border: 1px solid #16348C;
    color: #000;
    transition: all 0.5 ease;
}