body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.Navbar {
    position: fixed; 
    width: 15vw;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background-color: #16348C;
    color: #ffffff;
    z-index: 1000;
}

.NavImg img {
    display: block;
    margin: 0 auto;
    width: 11vw;
    height: auto;
    margin-bottom: 20px;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.Tab {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1vh;
}

.sidebar-item {
    display: flex;
    align-items: center;
}

.Tab:hover{
    background-color: #0056b3;
    transition: all .5s ease;
}

.sidebar-item img {
    height: 4vh;
    margin-right: 1vw;
}

.Workspace {
    margin-left: 15vw;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to bottom right, #FFFAF1, #F7ECCB);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
    position: relative;
}

.Container {
    width: calc(100% - 40px);
    max-width: 98%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}


.Tab {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
}

.Tab:hover {
    background-color: #0056b3;
    transition: all .5s ease;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #16348C;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="date"] {
    margin-right: 10px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #16348C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #007bff; /* Adjust this color as needed */
    color: white;
    border: 1px solid #007bff;
}

.pagination button:hover {
    background-color: #ddd;
}
